<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text class="toolbar">
        Language Learning
        <small>powered by AI</small>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center;">
  <div class="avatar-container">
    <ion-avatar class="avatar">
      <div class="avatar-text">{{ avatarSymbol }}</div>
    </ion-avatar>
  </div>

  <div class="welcome-text">{{ welcomeMessage }}</div>
  <div class="welcome-text-smaller">Miło Cię widzieć</div>

  <form *ngIf="!isLoggedIn()" [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input formControlName="email" type="text" labelPlacement="stacked" placeholder="Wprowadź login" label="Email"></ion-input>
    </ion-item>

    <ion-item> 
      <ion-input formControlName="password" type="password" labelPlacement="stacked" label="Hasło" placeholder="Wprowadź hasło"></ion-input>
    </ion-item>

    <div class="error-text">{{ errorMessage }}</div>

    <ion-button shape="round" class="next-button" (click)="onSubmit()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </form>

  <div class="footer-links">
    <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
      <ion-text>
        <a href="#">Wyloguj się</a>
      </ion-text>
    </ng-container>
    <ng-template #notLoggedIn>
      <ion-text>
        <a href="#">Rejestracja</a>
      </ion-text>
      <ion-text>|</ion-text>
      <ion-text>
        <a href="#">Przypomnij hasło</a>
      </ion-text>
    </ng-template>
  </div>
</ion-content>