ion-content {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  text-align: center;
  position: relative;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.avatar {
  margin-top: 80px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  box-shadow: 0 4px 8px var(--button-shadow, rgba(0, 0, 0, 0.2)) !important;
}

.avatar-text {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.welcome-text {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-text-smaller {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 30px;
}

.error-text {
  font-size: 16px;
  color: var(--ion-color-error);
}

.submit-button {
  width: 60px;
  height: 60px;
  --background: var(--gradient);
  border: none;
  border-radius: 50%;
  color: white;
  --font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px var(--button-shadow, rgba(0, 0, 0, 0.2)) !important;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  margin: auto;
  margin-top: 20px;
}

.submit-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px var(--button-shadow, rgba(0, 0, 0, 0.2)) !important;
}

.footer-links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: var(--text-color);
  width: fit-content;
}

.footer-links ion-text a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ion-text a:hover {
  color: var(--ion-color-primary);
}

.auth-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-form {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.login-form ion-item {
  border-radius: 10px;
  margin-bottom: 10px;
}
