<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text class="toolbar">
        Language Learning
        <small>powered by AI</small>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center;">
  <div class="avatar-container">
    <ion-avatar class="avatar">
      <div class="avatar-text">Ł</div>
    </ion-avatar>
  </div>

  <div class="welcome-text">Witaj, Łukasz</div>
  <div class="language-info">Uczysz się języka angielskiego 🇬🇧</div>

  <form class="login-form">
    <ion-item>
      <ion-input type="text" labelPlacement="stacked"  placeholder="Wprowadź login" label="Email"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item> 
        <ion-input type="password" labelPlacement="stacked" label="Hasło" placeholder="Wprowadź hasło">
        </ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button shape="round" class="next-button" (click)="navigateToNextPage()">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-button>

  <div class="footer-links">
    <ion-text>
      <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Zmień język nauki</a>
    </ion-text>
    <ion-text>|</ion-text>
    <ion-text>
      <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Wyloguj się</a>
    </ion-text>
  </div>
</ion-content>