<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="flashcards" href="/tabs/flashcards">
      <ion-icon aria-hidden="true" name="bookmarks"></ion-icon>
      <ion-label>Fiszki</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quiz" href="/tabs/quiz">
      <ion-icon aria-hidden="true" name="help"></ion-icon>
      <ion-label>Quizy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Statystyki</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
