<app-toolbar
  title="Twoje lekcje"
  titleSmall=""
  page="lessons"
  leftButtonItemName="Stwórz lekcję"
  (leftButtonClicked)="openModal()"
  (rightButtonClicked)="closeModal()">
</app-toolbar>

<ion-content [fullscreen]="true">
  <div class="page-info" *ngIf="loading && errorMessage === ''">
    <p *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  </div>
  <div class="lesson-cards">
    <ion-card *ngFor="let lesson of lessons" class="lesson-card">
      <ion-card-header>
        <ion-card-title>{{ getFlagForLanguage(lesson.learningLanguage) }} {{ lesson.topic }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="lesson-details">
          <div class="lesson-info">
            <span class="lesson-number">{{ lesson.quizzesCount }}</span> quizów
          </div>
          <div class="lesson-info">
            <span class="lesson-number">{{ lesson.flashcardsCount }}</span> fiszek
          </div>
        </div>
        <ion-button fill="clear" shape="round" (click)="navigateToLesson(lesson.id!)">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()" class="modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-title class="modal-title">Dodaj nową lekcję</ion-title>
            <ion-button slot="end" (click)="closeModal()" class="modal-close-button">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="lessonForm" (ngSubmit)="submitLesson()">
          <ion-list lines="full" class="modal-list">
            <ion-item>
              <ion-label position="stacked">Temat lekcji</ion-label>
              <ion-input formControlName="topic" type="text" placeholder="Podaj temat w języku obcym"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Poziom trudności</ion-label>
              <ion-select formControlName="difficultyLevel" placeholder="Wybierz poziom">
                <ion-select-option [value]="0">Początkujący</ion-select-option>
                <ion-select-option [value]="1">Średniozaawansowany</ion-select-option>
                <ion-select-option [value]="2">Zaawansowany</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Język nauki</ion-label>
              <ion-select formControlName="learningLanguage" placeholder="Wybierz język">
                <ion-select-option *ngFor="let language of availableLanguages" [value]="language">
                  {{ language }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <div class="modal-submit-button">
            <ion-button type="submit" shape="round" color="primary" [disabled]="lessonForm.invalid">
              Dodaj lekcję
            </ion-button>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>