<app-toolbar title="Twoje lekcje" titleSmall="" page="home" addButtonItemName="lekcję"></app-toolbar>

<ion-content [fullscreen]="true">
  <div class="page-info" *ngIf="loading && errorMessage === ''">
    <p *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  </div>
  <div class="lesson-cards">
    <ion-card *ngFor="let lesson of lessons" class="lesson-card">
      <ion-card-header>
        <ion-card-title>{{ lesson.topic }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="lesson-details">
          <div class="lesson-info">
            <span class="lesson-number">{{ lesson.quizzesCount }}</span> quizów
          </div>
          <div class="lesson-info">
            <span class="lesson-number">{{ lesson.flashcardsCount }}</span> fiszek
          </div>
        </div>
        <ion-button fill="clear" shape="round" (click)="navigateToLesson(lesson.id!)">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>