.lesson-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}
  
.lesson-card {
    background-color: var(--ion-card-background);
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 16px;
    padding: 16px;
}
  
.lesson-card ion-card-title {
    font-family: 'SF Pro Display', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
}
  
.lesson-card .lesson-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
  
.lesson-card .lesson-info {
    display: flex;
    align-items: center;
    margin-right: 12px;
}
  
.lesson-card .lesson-number {
    font-family: 'SF Pro Display', Arial, sans-serif;
    font-weight: normal !important;
    font-size: 24px;
    font-weight: bold;
    margin-right: 4px;
}
  
.lesson-card ion-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.lesson-card ion-button {
    --background: var(--gradient);
    border-radius: 50%;
    color: white;
    --font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
  
.lesson-card ion-button:hover {
    transform: scale(1.1);
}
  
@media (max-width: 600px) {
    .lesson-cards {
      gap: 0;
    }
}

.modal {
    --border-radius: 16px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
  
.modal-close-button {
    margin-right: 8px;
    --background: none;
    --box-shadow: none;
    --border-width: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    color: white;
}
  
.modal-title {
    font-family: 'SF Pro Display', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 16px;
    padding: 0;
    text-align: left;
}
  
.modal-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-list ion-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 4px 0;
    color: #aaaaaa;
}

.modal-submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}