<app-toolbar title="Temat lekcji" titleSmall="Fiszki" page="flashcards" addButtonItemName="fiszkę"></app-toolbar>

<ion-content [fullscreen]="true">
  <div class="flashcards">
    <ion-chip *ngFor="let flashcard of flashcards" class="flashcard" button (click)="openModal(flashcard)">
      <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      <ion-label>{{ flashcard.word }}</ion-label>
    </ion-chip>
  </div>

  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()">
    <ion-header *ngIf="selectedFlashcard">
      <ion-toolbar>
        <ion-title class="modal-title">{{ selectedFlashcard?.word }}</ion-title>
          <ion-button slot="end" (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="selectedFlashcard" class="modal-content">
      <p>Szczegóły fiszki: xd</p>
    </ion-content>
  </ion-modal>  
</ion-content>
