.segment-text {
    font-size: 14px;
    white-space: nowrap;
    font-family: 'SF Pro Display', Arial, sans-serif;
}
  
.quiz-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    .question-container {
        margin-bottom: 20px;
        width: 100%;
        max-width: 400px;
    }
  
    .answer-item {
        ion-radio {
            --background: var(--gradient);
            --border-radius: 50%;
            --size: 24px;
        }
    
        ion-label {
            margin-left: 10px;
        }
    }
  
    .navigation-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        width: 100%;
        max-width: 400px;
    
        .nav-button {
            width: 50px;
            height: 50px;
            --background: var(--gradient);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
    
            &.next-button.centered {
                margin-left: auto;
            }
        }
    
        .submit-quiz-button {
            width: 150px;
            height: 50px;
            --background: var(--gradient);
            border-radius: 25px;
            color: white;
            text-align: center;
        }
    }
  
    .pagination {
        display: flex;
        gap: 6px;
        justify-content: center;
        margin-top: 20px;
  
      .pagination-button {
            width: 38px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            line-height: 30px;
            --padding-start: 0;
            --padding-end: 0; 
            background-color: black;
            color: white;
            transition: background-color 0.3s, color 0.3s;
  
        &[color="selected"] {
            background-color: var(--ion-color-primary); /* Czarny */
            color: white;
        }

        &[color="selected"]:hover {
            background-color: var(--ion-background-color-reverse);
            color: var(--ion-background-color);
        }
  
        &[color="normal"] {
            background-color: var(--ion-background-color-second);
            color: var(--ion-text-color);
        }

        &[color="normal"]:hover {
            background-color: var(--ion-background-color-reverse);
            color: var(--ion-background-color);
          }
      }
    }
  }
  