<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="leftButtonClicked.emit()" *ngIf="page === 'lessons' || page === 'flashcards'">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      <span class="button-text">{{ leftButtonItemName }}</span>
    </ion-button>

    <ion-title >
      <ion-text class="toolbar-title" (click)="navigateToHome()">
        {{ title }}
        <small>{{ titleSmall }}</small>
      </ion-text>
    </ion-title>

    <ion-button slot="end" (click)="rightButtonClicked.emit()" *ngIf="page === 'lessons' || page === 'flashcards'">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      <span class="button-text">{{ getUserFirstName() }}</span>
    </ion-button>
  </ion-toolbar>
</ion-header>