ion-icon {
    color: white;
}

ion-toolbar {
    position: relative;
}
  
ion-title {
    text-align: center;
    pointer-events: none;
}

.toolbar-title {
    font-size: 20px;
    color: white;
    margin: 0;
    font-family: 'SF Pro Display', Arial, sans-serif;
    line-height: normal;
}

.toolbar-title small {
    display: block;
    font-size: 12px;
    opacity: 0.7;
    margin-top: 4px;
}

ion-button {
    --background: transparent !important;
    --border-radius: 0 !important;
    --box-shadow: none !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
    --ripple-color: transparent !important;
    color: white !important;
    transition: transform 0.2s !important;
    margin: 0 15px;
}
  
ion-button:hover {
    transform: scale(1.1) !important;
    box-shadow: none !important;
    background: none !important;
}

.button-text {
    display: none;
    text-transform: none;
}
  
@media (min-width: 600px) {
    .button-text {
        display: inline;
        margin-left: 8px;
    }
}