<ion-header>
  <ion-toolbar>
    <ion-button slot="start" *ngIf="page === 'home'">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      <span class="button-text">Dodaj lekcję</span>
    </ion-button>

    <ion-title>
      <ion-text class="toolbar-title">
        {{ title }}
        <small>{{ titleSmall }}</small>
      </ion-text>
    </ion-title>

    <ion-button slot="end" *ngIf="page === 'home'">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
      <span class="button-text">Ustawienia</span>
    </ion-button>
  </ion-toolbar>
</ion-header>