:root,
:root.ios,
:root.md {
  --gradient: linear-gradient(135deg, #7a2e36, #5c1e24);
  --ion-background-color: #f5f5f5;
  --ion-toolbar-background: var(--gradient);
  --ion-item-border-color: var(--ion-background-color-step-200);
  --ion-color-primary: #7a2e36;
  --ion-color-secondary: #5c1e24;
  --ion-text-color: #333333;
  --ion-color-error: #ff6666;
  --ion-font-family: 'SF Pro Text', Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root,
  :root.ios,
  :root.md {
    --gradient: linear-gradient(135deg, #5a232c, #3b1418);
    --ion-background-color: #1c1c1c;
    --ion-text-color: #c2c2c2;
    --ion-toolbar-background: var(--gradient);
  }
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}


ion-title {
  width: 100%; 
  text-align: center;
}